In [18]:
import pandas as pd
from scipy.stats import f_oneway

In [4]:
df = pd.read_csv("joined_data.csv")
df.head()

,id,age,gender,income,spending_score,membership_years,purchase_frequency,preferred_category,last_purchase_amount,age_group,customer_category,income_group
0,1,38,Female,99342,90,3,24,Groceries,113.53,Over-thirties,Great customer,Upper-Mid Income
1,2,21,Female,78852,60,2,42,Sports,41.93,Young adult,Good customer,Middle Income
2,3,60,Female,126573,30,2,28,Clothing,424.36,Seniors,Medium customer,Affluent
3,4,40,Other,47099,74,9,5,Home & Garden,991.93,Over-forties,Good customer,Lower-Mid Income
4,5,65,Female,140621,21,3,25,Electronics,347.08,Seniors,Bad customer,Affluent

In [17]:
membership_years = list(df["membership_years"].unique())
membership_spending_scores = []
for year in membership_years:
    m_y_totals = df[df["membership_years"] == year]["spending_score"]
    membership_spending_scores.append(m_y_totals)

In [20]:
# ANOVA test
f_oneway(*membership_spending_scores)

F_onewayResult(statistic=0.6610184052897011, pvalue=0.744682515398925)